body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.chess-board { /* Ai helped out in this part */
    display: grid;
    grid-template-columns: repeat(8, 50px); 
    grid-template-rows:50px;
    grid-template-rows: repeat(8, 50px);    

}

.box {
    height:50px;
    width:50px;
    border:1px solid black;
    text-align: center;  
    user-select: none;
}
.turn {
    display:inline-block;
    height:25px;
    width:120px;
    text-align: center;  
    user-select: none;
    margin-bottom: 0px;
}
.inline {
    display:inline-block;
    height:25px;
    width:30px;
    text-align: center;  
    user-select: none;
}
header {
    border:1px solid black;
}

img {
    height:70%
}

.color1 {
    background-color:bisque;
}

.color2 {
    background-color:darkgoldenrod;
}

.red {
    background-color:red;
}
.selected {
    background-color:yellow;
}
.blue {
    background-color:lightskyblue
}